@import "../../variables.module.scss";

.product_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: $clay-main;
  padding: 1rem 0;
  transform: translateY(-1px);
}
