$blue-main: #00bb9c;
$blue-secondary: #0edfbc;
$color-logo: #e04708;
$brown-main: #b1907f;
$brown-dark: #a47e6a;
$brown-light: #c5a08d;
$yellow-main: #b1a97f;
$yellow-secondary: #a39861;
$clay-main: #b17f87;
$clay-secodary: #9f666f;
