$blue-main: #00a0ac;
$blue-secondary: #0195a8;
$color-logo: #e0ca08;
$brown-main: #b1907f;
$brown-dark: #a47e6a;
$brown-light: #c5a08d;
$yellow-main: #b1a97f;
$yellow-secondary: #a39861;
$clay-main: #b17f87;
$clay-secodary: #9f666f;
