$blue-main: #00a0ac;
$blue-secondary: #0195a8;
$color-logo: #e0ca08;
$brown-main: #b1907f;
$brown-dark: #a47e6a;
$brown-light: #c5a08d;
$yellow-main: #b1a97f;
$yellow-secondary: #a39861;
$clay-main: #b17f87;
$clay-secondary: #9f666f;

@mixin btn {
  font-size: 1rem;
  min-width: 8rem;
  margin-right: 0.5rem;
  padding: 0.6rem;
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 6px;
  display: block;
  cursor: pointer;

  &:hover {
    background-position: right center; /* change the direction of the change here */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-decoration: none;
  }
}
